* {
    margin: 40;
    padding: 0;
}

body {

    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);

    /* display: flex;
    justify-content: center;
    align-items: center; */

    /* width: clamp(1vw, 99%, 99vw);
    height: clamp(1vh, 99%, 1000vh); */
    /* width: 1450px;
    height: 99%; */
    background: #000000;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    /* font-family: v; */

}


body.rtl {
    direction: rtl;
    text-align: right;
}

body.rtl .nav {
    flex-direction: row-reverse;
}

body.rtl .hero-text {
    text-align: right;
}





@font-face {

    font-family: "v";
    src: url('V.ttf') format('truetype');
}



/* @media (max-width: 600px) {
    body {
        background: #000000;
        width: clamp(1vw, 99%, 99vw);
    }
}


@media (min-width: 601px) and (max-width: 1024px) {
    body {
        background: #000000;
        width: clamp(601px, 99%, 99vw);
    }
}


@media (min-width: 1025px) {
    body {
        background: #000000;
        width: clamp(1025px, 99%, 99vw);
    }
} */

.all {

    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
    background: #000000;
    position: relative;
    /* width: 90%; */
    /* height: 20px; */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: sans-serif; */
    /* font-family: v; */
    margin-top: 60px;
    margin-bottom: 100px;
    padding-left: 8%;
    padding-right: 5%;
    /* margin-left: 2%;
    margin-right: 5%; */
    overflow-x: hidden;
    overflow-y: auto;

}




.all1 {

    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
    background: #000000;
    position: relative;
    /* width: clamp(1vw, 90%, 100vw); */
    height: clamp(1vh, 350px, 1000vh);
    /* در صورت بهم خوردن ریسپانسیو کامند شود  */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: sans-serif; */
    /* font-family: v; */
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 8%;
    padding-right: 5%;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */

}




.t1 {
    display: flex;
    justify-content: left;
    background: #ffff;
    position: relative;
    width: 75%;
    /* height: clamp(1vh, 40px, 1000vh); */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: sans-serif; */
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 3%;
    margin-right: 3%;

    text-decoration: none;
    color: #000000;
    background-color: #ffff;
    transition: background 0.3s ease-in-out;
    font-family: sans-serif;
    font-family: v;
}

.t11 {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;

    background: #000000;
    position: relative;
    /* width: 90%; */
    /* height: clamp(1vh, 40px, 1000vh); */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: "V.ttf"; */
    font-family: v;
    margin-top: 60px;
    margin-bottom: 60px;
    /* margin-left: 3%; */
    /* margin-right: 5%; */
}




.t12 {
    display: flex;
    justify-content: center;
    /* افقی وسط */
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 3%;
    margin-right: 3%;
    /* margin-left: 47%;
    margin-right: 50%; */
    /* width: 80px; */
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background: #ffffff;
    font-size: 18px;
    font-family: sans-serif;
    font-family: v;
    cursor: pointer;
}

.t13 {
    display: flex;
    justify-content: center;
    /* افقی وسط */
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 3%;
    margin-right: 3%;
    /* margin-left: 47%;
    margin-right: 50%; */
    /* width: 80px; */
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background: #ffffff;
    font-size: 18px;
    font-family: sans-serif;
    font-family: v;
    cursor: pointer;
}











.t2 {
    display: flex;
    justify-content: left;
    background: #ffff;
    position: relative;
    width: 75%;
    /* height: clamp(1vh, 40px, 1000vh); */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: sans-serif; */
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 3%;
    margin-right: 3%;


    text-decoration: none;
    color: #000000;
    background-color: #ffff;
    transition: background 0.3s ease-in-out;
    font-family: sans-serif;
    font-family: v;
}


.t3 {
    display: flex;
    justify-content: left;
    background: #ffff;
    position: relative;
    width: 75%;
    /* height: clamp(1vh, 40px, 1000vh); */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: sans-serif; */
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 3%;
    margin-right: 3%;


    text-decoration: none;
    color: #000000;
    background-color: #ffff;
    transition: background 0.3s ease-in-out;
    font-family: sans-serif;
    font-family: v;
}


.t4 {
    display: flex;
    justify-content: left;
    background: #ffff;
    position: relative;
    width: 75%;
    /* height: clamp(1vh, 40px, 1000vh); */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: sans-serif; */
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 3%;
    margin-right: 3%;


    text-decoration: none;
    color: #000000;
    background-color: #ffff;
    transition: background 0.3s ease-in-out;
    font-family: sans-serif;
    font-family: v;
}

.t5 {
    display: flex;
    justify-content: left;
    background: #ffff;
    position: relative;
    width: 75%;
    /* height: clamp(1vh, 40px, 1000vh); */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: sans-serif; */
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 3%;
    margin-right: 3%;


    text-decoration: none;
    color: #000000;
    background-color: #ffff;
    transition: background 0.3s ease-in-out;
    font-family: sans-serif;
    font-family: v;
}

.t6 {
    display: flex;
    justify-content: left;
    background: #ffff;
    position: relative;
    width: 75%;
    /* height: clamp(1vh, 40px, 1000vh); */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: sans-serif; */
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 3%;
    margin-right: 3%;


    text-decoration: none;
    color: #000000;
    background-color: #ffff;
    transition: background 0.3s ease-in-out;
    font-family: sans-serif;
    font-family: v;
}

.t7 {
    display: flex;
    justify-content: left;
    background: #ffff;
    position: relative;
    width: 75%;
    /* height: clamp(1vh, 40px, 1000vh); */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: sans-serif; */
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 3%;
    margin-right: 3%;


    text-decoration: none;
    color: #000000;
    background-color: #ffff;
    transition: background 0.3s ease-in-out;
    font-family: sans-serif;
    font-family: v;
}


.t8 {
    display: flex;
    justify-content: left;
    background: #ffff;
    position: relative;
    width: 75%;
    /* height: clamp(1vh, 40px, 1000vh); */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: sans-serif; */
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 3%;
    margin-right: 3%;


    text-decoration: none;
    color: #000000;
    background-color: #ffff;
    transition: background 0.3s ease-in-out;
    font-family: sans-serif;
    font-family: v;
}


.t9 {
    display: flex;
    justify-content: left;
    background: #ffff;
    position: relative;
    width: 75%;
    /* height: clamp(1vh, 40px, 1000vh); */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: sans-serif; */
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 3%;
    margin-right: 3%;


    text-decoration: none;
    color: #000000;
    background-color: #ffff;
    transition: background 0.3s ease-in-out;
    font-family: sans-serif;
    font-family: v;
}

.t10 {
    display: flex;
    justify-content: left;
    background: #ffff;
    position: relative;
    width: 75%;
    /* height: clamp(1vh, 40px, 1000vh); */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: sans-serif; */
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 3%;
    margin-right: 3%;


    text-decoration: none;
    color: #000000;
    background-color: #ffff;
    transition: background 0.3s ease-in-out;
    font-family: sans-serif;
    font-family: v;
}

.a1 {
    margin-top: -100px;
    /* margin-bottom: 0px; */
    margin-left: 0%;
    margin-right: 100%;


    text-decoration: none;
    color: #ffff;
    background-color: #ffff;
    transition: background 0.3s ease-in-out;
    font-family: sans-serif;
    font-family: v;
}


.a11 {
    /* margin-top: -100px; */
    /* margin-bottom: 0px; */
    /* margin-left: 0%; */
    margin-right: 86%;


    text-decoration: none;
    color: #ffff;
    /* background-color: #ffff; */
    transition: background 0.3s ease-in-out;
    font-family: sans-serif;
    font-family: v;
}

#circle {
    display: flex;
    justify-content: center;
    /* افقی وسط */
    align-items: center;
    font-family: sans-serif;
    position: absolute;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    /* margin-left: 46%;
    margin-right: 50%; */
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50%;
    transform: scale(1);
    /* transition: transform 5s ease; */
    /* color: #000000; */
}

#circle1 {
    display: flex;
    justify-content: center;
    /* افقی وسط */
    align-items: center;
    font-family: sans-serif;
    position: absolute;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    /* margin-left: 46%;
    margin-right: 50%; */
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50%;
    transform: scale(1);
    /* transition: transform 5s ease; */
}

#circle2 {
    display: flex;
    justify-content: center;
    /* افقی وسط */
    align-items: center;
    font-family: sans-serif;
    position: absolute;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    /* margin-left: 46%;
    margin-right: 50%; */
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50%;
    transform: scale(1);
    /* transition: transform 5s ease; */
}





.startBtn {
    display: flex;
    justify-content: center;
    /* افقی وسط */
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    /* margin-left: 47%;
    margin-right: 50%; */
    width: 80px;
    height: 50px;
    border-radius: 10%;
    background: #ffffff;
    font-size: 18px;
    font-family: sans-serif;
    font-family: v;
    cursor: pointer;
}

.startBtn1 {
    display: flex;
    justify-content: center;
    /* افقی وسط */
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    /* margin-left: 47%;
    margin-right: 50%; */
    width: 80px;
    height: 50px;
    border-radius: 10%;
    background: #ffffff;
    font-size: 18px;
    font-family: sans-serif;
    font-family: v;
    cursor: pointer;
}

.startBtn2 {
    display: flex;
    justify-content: center;
    /* افقی وسط */
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    /* margin-left: 47%;
    margin-right: 50%; */
    width: 80px;
    height: 50px;
    border-radius: 10%;
    background: #ffffff;
    font-size: 18px;
    font-family: sans-serif;
    font-family: v;
    cursor: pointer;
}



.b {
    display: flex;
    justify-content: center;
    /* افقی وسط */
    align-items: center;
    background: #000000;
    position: relative;
    /* width: 90%; */
    /* height: clamp(1vh, 40px, 1000vh); */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.17);
    /* font-family: "V.ttf"; */
    font-family: v;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 3%;
    margin-right: 5%;

    /* text-decoration: none;
    color: #000000;
    background-color: #ffff;
    transition: background 0.3s ease-in-out;
    font-family: v; */
}

.m1 {

    display: flex;
    background: #000000;
    font-family: sans-serif;
    font-family: v;

}

.h33 {

    color: #ffffff;
    font-family: sans-serif;
    font-family: v;

}